Source: libksba
Priority: optional
Maintainer: Marcus Brinkmann <mb@g10code.de>
Build-Depends: debhelper (>> 3.0.0)
Standards-Version: 3.5.2

Package: libksba-dev
Section: devel
Architecture: any
Depends: libc-dev, libksba0 (= ${Source-Version})
Description: X.509 and CMS support library
 KSBA (pronounced Kasbah) is a library to make X.509 certificates as
 well as the CMS easily accessible by other applications.  Both
 specifications are building blocks of S/MIME and TLS.
 .
 KSBA provides these subsystems: ASN.1 Parser, BER Decoder, BER
 Encoder, Certificate Handling and CMS Handling.
 .
 This package contains the development library files.

Package: libksba0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: X.509 and CMS support library
 KSBA (pronounced Kasbah) is a library to make X.509 certificates as
 well as the CMS easily accessible by other applications.  Both
 specifications are building blocks of S/MIME and TLS.
 .
 KSBA provides these subsystems: ASN.1 Parser, BER Decoder, BER
 Encoder, Certificate Handling and CMS Handling.
 .
 This package contains the runtime library files.
